{% extends 'base.html' %}
{% block content %} <div class="container">
    <h1>
        상품 등록
    </h1>
    <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %} <!--장고 제공 보안 방식-->
        <div class="form-group">
            <label>제품 이름</label>
            <input type="text" class="form-control" name="title"> </div>
        <div class="form-group">
            <label>제품 설명</label>
            <textarea class="form-control" name="content"></textarea>
        </div>
        <input type="file", name="image"><br>
        <input type="submit" value="등록" class="btn btn-outline-primary" style="margin-left: 47%;">
    </form>
    <!--form 입력칸 태그-->
</div>
{% endblock %}