{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% if post.image %}
    <img class="img1" src="{{post.image.url}}">
    {% endif %}
    <div style="margin-left: 50%; margin-top: 50px;">
        <h5>제품 이름 : {{ post.title }} </h5><br>
        <h5>제품 설명 : {{ post.content }} </h5><br>
        {% if user == post.user %}
        <a href="{% url 'posts:like_list' %}"><h5>판매자 : {{ post.user }}</h5></a><br>
        {% else %}
        <h5>판매자 : 알 수 없음</h5><br>
        {% endif %}
        <h7>등록 시간 : {{ post.created_at }} </h7><br>
        <h7>조회수: {{post.view_count}}</h7><br>
    </div>
    {% if user == post.user %}
    <div style="margin-top: 30%; margin-left: 40%;">
        <a href="{% url 'posts:update' post.pk %}" class="btn btn-primary">수정하기</a>
        <a href="{% url 'posts:delete' post.pk %}" class="btn btn-danger">삭제하기</a>
    </div>
    {% endif %}
    <div class="mt-5">
    <a href="{% url 'posts:post_like' post.id %}?redirect_to=show"> 
        {% if user in post.like_user_set.all %}
        <i class="fas fa-heart"></i> 
        {% else %}
        <i class="far fa-heart"></i> 
        {% endif %}
    </a>
    </div>
    <form class="form-row" action="{% url 'posts:create_comment' post.id %}" method="POST">
        {% csrf_token %}
        <textarea class="form-control col-ll mr-2" name="content" placeholder="댓글 내용 입력"></textarea>
        <input type="submit" class="btn btn-primary" value="확인">
    </form>
    {% for comment in comments %}
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            {% if comment.writer %}
            {% if comment.writer.username == 'user' %}
            작성자 : {{ comment.writer.last_name }} {{ comment.writer.first_name }}
            {% else %}
            작성자 : {{ comment.writer }}
            {% endif %}
            {% else %}
            작성자 : 알 수 없음
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}