{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
{% if post.image %}
    <img class="img1" src="{{post.image.url}}">
{% endif %}
<div style="margin-left: 50%; margin-top: 50px;">
<h5>제품 이름 : {{ post.title }} </h5><br>
<h5>제품 설명 : {{ post.content }} </h5><br>
{% if post.user %}
<h5>판매자 : {{ post.user }} </h5><br>
{% else %}
<h5>판매자 : 알 수 없음</h5><br>
{% endif %}
<h7>등록 시간 : {{ post.created_at }} </h7><br> 
</div>
<div style="margin-top: 30%; margin-left: 40%;">
<a href="{% url 'posts:update' post.pk %}" class="btn btn-primary">수정하기</a>
<a href="{% url 'posts:delete' post.pk %}" class="btn btn-danger">삭제하기</a>
</div>
</div>
{% endblock %}